/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  // TODO: It seems that tailwind doesn't like list styles, why?
  ol,
  ul {
    list-style: initial;
  }

  h1 {
    // @apply text-blue-400
  }

  h2 {
    // @apply text-red-400
  }

  .katex {
    font-size: 1.2rem;
  }

  .markdown-body {
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-family: 'CMU Serif';
  }
}
